<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.deakyu.replicatevenmo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppVenmoTheme">
        <activity
            android:name=".feed.FeedActivity"
            android:label="@string/app_name"
            android:theme="@style/AppVenmoTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".notification.NotificationActivity"
            android:label="Notifications"
            android:parentActivityName=".feed.FeedActivity"
            android:theme="@style/AppVenmoTheme.NoActionBar" />
        <activity
            android:name=".help.HelpActivity"
            android:label="Get Help"
            android:parentActivityName=".feed.FeedActivity"
            android:theme="@style/AppVenmoTheme.NoActionBar" />
        <activity
            android:name=".help.faq.FAQActivity"
            android:label="Get Help"
            android:parentActivityName=".help.HelpActivity"
            android:theme="@style/AppVenmoTheme.NoActionBar" />
        <activity
            android:name=".help.contactus.ContactUsActivity"
            android:label="Contact Us"
            android:parentActivityName=".help.HelpActivity"
            android:theme="@style/AppVenmoTheme.NoActionBar" />
        <activity
            android:name=".help.faq.FAQDescriptionActivity"
            android:parentActivityName=".help.faq.FAQActivity"
            android:theme="@style/AppVenmoTheme.NoActionBar" />
        <activity
            android:name=".help.contactus.chat.ChatWithUsActivity"
            android:label="Chat"
            android:parentActivityName=".help.contactus.ContactUsActivity"
            android:theme="@style/AppVenmoTheme.NoActionBar" />
        <activity
            android:name=".feed.story.StoryActivity"
            android:label="Story"
            android:parentActivityName=".feed.FeedActivity"
            android:theme="@style/AppVenmoTheme.NoActionBar" />
        <activity android:name=".profile.ProfileActivity"></activity>
    </application>

</manifest>